.results {
  background-color: black;
  color: white;
  overflow-y: scroll;
  box-sizing: border-box;
  height: 65vh;
  width: 45vw;
}

.results-title {
  font-size: 2em;
  margin: 1em;
  text-decoration: underline;
  color: white;
}