.results {
  background-color: black;
  color: white;
  overflow-y: scroll;
  box-sizing: border-box;
  height: 65vh;
  width: 45vw;
}

.results-title {
  font-size: 2em;
  margin: 1em;
  text-decoration: underline;
  color: white;
}

.no-results {
  margin: 1em;
  text-align: center;
}

/* Media Queries */
/* Need to create media queries for tablets*/

@media screen and (max-width: 1200px) {
  .results {
    height: 70vh;
  }
}

@media screen and (max-width: 900px) {
  .results-title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 650px) {
  .results {
    height: 73vh;
  }
}

@media screen and (max-width: 600px) {
  .results {
    height: 80vh;
  }
  
  .results-title {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 450px) {
  .results-title {
    font-size: 0.8em;
  }
}