.popup {
  position: absolute;
  height: 12vh;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 2em;
  background-color: teal;
  color: white;
  z-index: 1;
  text-align: center;
}

.button-div {
  text-align: end;
}

.close-btn {
  margin: 0.5em;
  margin-right: 2em;
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.message {
  margin: 0;
}