.nominations {
  background-color: black;
  color: white;
  overflow-y: scroll;
  box-sizing: border-box;
  height: 65vh;
  width: 45vw;
}

.title-container {
  text-align: center;
}

.nominations-title {
  margin: 1em;
  font-size: 2em;
  text-decoration: underline;
  color: white;
}

/* Media Queries */

@media screen and (max-width: 900px) {
  .nominations-title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 600px) {
  .nominations-title {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 450px) {
  .nominations-title {
    font-size: 0.8em;
  }
}