.nominations {
  background-color: black;
  color: white;
  overflow-y: scroll;
  box-sizing: border-box;
  height: 65vh;
  width: 45vw;
}

.title-container {
  text-align: center;
}

.nominations-title {
  margin: 1em;
  font-size: 2em;
  text-decoration: underline;
  color: white;
}