.moviecard {
  box-sizing: border-box;
  width: 43vw;
}

.movie-info {
  margin: 0;
  margin-right: 0.5em;
}

.nominate-button, 
.remove-button {
  height: 2em;
  width: 8vw;
  border: none;
  background-color: white;
  font-size: large;
  font-weight: bold;
}

.hidden {
  display: none;
}