form {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 1.5em;
}

label {
  margin: 1em;
  margin-right: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
  color: teal;
}

input {
  width: 88.7%;
  font-size: 1.5em;
  border-color: teal;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 0.2em;
}

input:focus {
  outline-color: teal;
}